body {
    font: 18px Baskerville;
    line-height: 1.8;
    color: black;
    background-color: white;
    padding-top: 0px !important;
  }

h3 {
  font-weight: 600;
}
.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a:link{
  color: #f65b8e;
  text-decoration: none;
}

a:hover{
  color: #b0486b;
  font-weight: 600;
  font-style: oblique;
}
a:visited{
  color: #4b333b;
  text-decoration: line;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: white;
  color: black;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #ae1d72;
}

.nav-link {
  padding: 10px 30px;
  color:  #ed7dcb;
}

.nav-link:hover {
  padding: 10px 30px;
  font-weight: 600;
  color:  #9b337c;
}

#btn {
  padding: 10px 30px;
  background-color: white;
  color: rgb(122, 122, 200);
}
/* 
#btn:hover {
  padding: 10px 30px;
  background-color: #a0cf98;
} */


.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: #2d2b33;
  color: #87c99a;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: gray;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}